@charset "UTF-8";

/* ==========================================================================
   CSS soft reset
   ========================================================================== */

html {
  color: #222;
  font-size: 1em; /* 16px */
  height: 100%;
  line-height: 1.375rem /* 1.375rem = 22px */;
}

::selection,
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

body {
  font-size: 1em;
  min-height: 100vh;
  
  /**
    * Rendering font optimization
    * https://developer.mozilla.org/fr/docs/Web/CSS/text-rendering
    * https://css-tricks.com/almanac/properties/t/text-rendering/
    */
  
  text-rendering: optimizeSpeed;
  
  /**
    * Font antialiasing and hinting
    * https://szafranek.net/blog/2009/02/22/font-smoothing-explained/
    * https://developer.mozilla.org/fr/docs/Web/CSS/font-smooth
    */
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

img {
  height: auto;
  width: 100%;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

/* ==========================================================================
   Custom styles
   ========================================================================== */

/* ====================================
// Fonts
// ==================================== */


/* ====================================
// CSS variables
// ==================================== */
:root {
  
}

@media (min-width: 768px) {
  :root {
    
  }
}

@media (min-width: 1024px) {
  :root {
    
  }
}

/* ====================================
// Base
// ==================================== */


/* ====================================
// Layout
// ==================================== */


/* ====================================
// Modules
// ==================================== */


/* ====================================
// Custom styles
// ==================================== */




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

 .hidden,
 [hidden] {
   display: none !important;
 }

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}
