@charset "UTF-8";

// ==========================================================================
// project     : 
// author      : @
// description : 
// ==========================================================================


// ====================================
// tools and mixins
// ====================================

@import "_variables.scss";


// ====================================
// base rules
// 
// choose beetween normalize and sanitize considering your dev requirements :
//   " normalize.css and sanitize.css correct browser bugs while carefully testing and documenting changes.
//     normalize.css styles adhere to css specifications. sanitize.css styles adhere to common developer expectations and preferences. reset.css unstyles all elements.
//     Both sanitize.css and normalize.css are maintained in sync. " – Jonathan Neal
// ====================================

@import "vendor/_normalize.scss";
// @import "vendor/_sanitize.scss";

@import "_base.scss";


// ====================================
// layout rules
// ====================================

@import "_layout.scss";


// ====================================
// module rules
// ====================================

@import "_module.scss";


// ====================================
// state rules
// ====================================

//@import "_state.scss";


// ====================================
// theme rules
// ====================================

//@import "_theme.scss";


// ====================================
// misc
// ====================================

@import "tools/_helper-classes.scss";
@import "_shame.scss";
